@model HashSet<string>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <ul>
        @foreach (var genre in Model)
        {
            <li>@genre</li>
        }
    </ul>
</body>
</html>