<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<style>

</style>
<body>
    BlackJack
    <img src="~/images/cards/C5.svg" alt="Alternate Text" />
    @Html.ActionLink("Click here to go to Game Selector", "gameselector")
    @Html.ActionLink("Click here to go to Login", "login")
</body>
</html>