<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    GameSelector
    <img src="~/images/cards/S5.svg" alt="Alternate Text" />
    @Html.ActionLink("Click here to go to Login", "login")
    @Html.ActionLink("Click here to go to BlackJack", "blackjack")
</body>
</html>