* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: white;
}

h2 {
    color: white;
    font-weight: normal;
    background-color: #938C97;
    border-radius: 3px;
    padding: 10px;
}
.outer {
    width: 820px;
    padding: 50px 100px;
    margin: 50px auto;
    background-color: #dcd6cd;
}

.content {
    width: 620px;
    margin: auto;
    background-: lightblue;
}

.header {
    margin-bottom: 5px;
    padding: 0px 10px;
}

.twins {
    width: 307px;
    display: inline-block;
    margin: 5px 0px;
    padding: 10px;
    vertical-align: top;
}

label {
    margin: 5px 0px;

}
input {
    width:100%;
    border: 1px solid #938C97;
    border-radius: 2px;
}





div.green {
    width: 600px;
    height: auto;
    margin: auto;
    background-color: #107730;
    padding: 10px 0px;
    color:#127731;
}


div.twin-container {
    display: inline;
}

div.footer {
    width: 580px;
    height: 200px;
    border: 10px solid #ff1200;
    background-color: #ffe42e;
    margin: 10px 0px;
}