* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}

div.grey {
    width: 820px;
    padding: 50px;
    margin: auto;
    background-color: #dcd6cd;
}

div.green {
    width: 600px;
    height: auto;
    margin: auto;
    background-color: #107730;
    padding: 10px 0px;
    color:#127731;
}

div.header {
    width: 580px;
    height: 50px;
    border: 10px solid #ff1200;
    background-color: #ffe42e;
    margin: 10px 0px;
}

div.twin-container {
    display: inline;
}

div.content {
    width: 280px;
    height: 50px;
    border: 10px solid #ff1200;
    background-color: #ffe42e;
    margin: 10px 0px;
}

div.footer {
    width: 580px;
    height: 200px;
    border: 10px solid #ff1200;
    background-color: #ffe42e;
    margin: 10px 0px;
}