h2 {
    color: red;
}

h3 {
    color: #8a2be2;
}

ol {
    color: magenta;
    list-style-type: upper-roman;
    text-decoration: underline;
}

ol li:last-of-type {
    text-decoration: underline black;
    color: black;
}