@model FoxClub.Models.Fox

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Fox Club - Diet Change Confirmation</title>
</head>
<body>
    <nav>
        <a href="/information">Information</a>
        <a href="/nutritionstore">Nutrition Store</a>
        <a href="/trickcenter">Trick Center</a>
        <a href="/actionhistory">Action History</a>
    </nav>
    <header>
        New trick Confirmation
    </header>
    <content>
        <div>
            @Model.Name learned a new trick. Click on info to see the updated list.
        </div>
    </content>
    <footer>
        Arnold BARNA, 2017
    </footer>
</body>
</html>