<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Form for Greeting</title>
</head>
<body>
    <form action="submit" method="post">
        <label for="POST-name">Name:</label>
        <input id="POST-name" type="text" name="name">
        <button type="submit" value="Save">Save</button>
    </form>
</body>
</html>