@model Day03BankOfSimba.Models.BankAccount

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bank Of Simba</title>
    <link rel="stylesheet" type="text/css" href="StyleSheet.css" />
</head>
<body>
    <table>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.AnimalType</td>
            <td>@Model.Balance.ToString("0.00 Zebra")</td>
        </tr>
    </table>
</body>
</html>