@model Day04DepInj.Models.Counter
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Ex 01: Counter</title>
</head>
<body>
    <form action="/" method="post">
        <label for="counterForButton">@Model.counter</label>
        <button type="submit">Click me to increase counter!</button>
    </form>
</body>
</html>