p {
    color: rgb(0, 85, 102);
    border-width: 5px;
    border-color: rgb(125, 206, 148);
    background-color: rgb(14, 145, 161);
    width: 358px;
    height: 143px;
    font-size: 36px;
    padding: 15px 20px 15px 15px;
}