@model Ex1ListingTodos.Models.Todo
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo App</title>
</head>
<body>
    <h1>Todo App (last entry shown)</h1>
    <ul>
        <li>@Model.Id</li>
        <li>@Model.Title</li>
        <li>@Model.IsUrgent</li>
        <li>@Model.IsDone</li>
    </ul>
    <ul>
        <li>Start the day</li>
        <li>Finish H2 workshop1</li>
        <li>Finish JPA workshop2</li>
        <li>Creat a CRUD project</li>
    </ul>
</body>
</html>