@model Microsoft.EntityFrameworkCore.DbSet<Ex1ListingTodos.Models.Todo>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo App</title>
</head>
<body>
    <h1>Todo App</h1>

    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Urgent</td>
                <td>Done</td>
            </tr>
        </thead>
        @foreach (var todo in @Model)
        {
            <tr>
                <td>@todo.Id</td>
                <td>@todo.Title</td>
                <td>@todo.IsUrgent</td>
                <td>@todo.IsDone</td>
            </tr>
        }
    </table>
</body>
</html>