<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo App</title>
</head>
<body>
    <h1>Todo App</h1>
    <ul>
        <li>Start the day</li>
        <li>Finish H2 workshop1</li>
        <li>Finish JPA workshop2</li>
        <li>Creat a CRUD project</li>
    </ul>
</body>
</html>