<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to BlackJack</title>
</head>
<body style="background-image: url(http://www.godisageek.com/wp-content/uploads/blackjack.jpg);
             color: aquamarine">
    <div style="text-align:center; align-content:center">
        <p>Welcome to the exciting world of</p>
        <h1>BlackJack</h1>
        <div style="align-self:center;    background:radial-gradient(rgb(64,103,90), rgb(1,103,90)); width:400px">
            <form action="game" method="post">
                <table>
                    <tr>
                        <td>
                            Player's Hand
                        </td>
                        <td>
                            Player's Hand (graphical view)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Dealer's Hand
                        </td>
                        <td>
                            Dealer's Hand (graphical view)
                        </td>
                    </tr>
                </table>
                <input type="submit" value="Continue Game" />
            </form>
        </div>
    </div>
</body>
</html>