<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Recipes2</title>
</head>
<body>
    <header>
        <h1>Recipes</h1>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
         <footer>
            <p>&copy; 2017 - Recipes2</p>
        </footer>
    </div>
</body>
</html>
