h1 {
    background-color: #419464;
    border-radius: 10px;
    color: aliceblue;
    padding: 10px;
}

h2 {
    background-color: #71c494;
    border-radius: 10px;
    color: aliceblue;
    padding: 5px;
}
