<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Fox Airlines</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>Fox Airlines</h1>
    </div>
    @RenderBody()
</body>
</html>