@model Recipes.Models.Recipe

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Recipes</title>
    <meta http-equiv="refresh" content="5;url=http://localhost:61389/" />
</head>
<body>
    <h1>
        Recipes
    </h1>
    <h2>
        The following recipe has been added to collection
    </h2>
    <div>
        <div>@Model.Name</div>
        <div>@Model.Cuisine</div>
        <div>@Model.PreparationTimeInMinutes</div>
    </div>
    <div>
        Redirecting to listing in 5 seconds ...
    </div>
</body>
</html>