@model FoxAirlines.Models.User

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Fox Airlines Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>Unsuccessful login</h1>
    </div>
</body>
</html>