@model Recipes2.Models.Recipe
@{
    ViewData["Title"] = "New recipe added";
}
<h2>
    The requested recipe has been deleted from collection
</h2>
<div>
    @Model.Name
</div>
<div>
    <a href="/list">Back to list of recipes</a>
</div>