@model Recipes2.Models.Recipe
@{
    ViewData["Title"] = "Recipe modified";
}
<h2>
    The following recipe has been modified
</h2>
<div>
    @Model.Name
</div>
<div>
    <a href="/list">Back to list of recipes</a>
</div>