@model Login.Models.User

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Login successful</h1>
    <p>@Model.LoginName</p>
    <p>@Model.Password</p>
    <p>@Model.LastAttemptedLogin</p>
    <p>@Model.LastSuccesfulLogin</p>
</body>
</html>