@model Login.Models.User

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Logn Form</title>
</head>
<body>
    <form action="/login" method="post">
        <p>
            <label for="username">User Name</label>
            <input type="text" name="LoginName" value="@Model.LoginName" />
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" name="Password" value="" />
        </p>
        <p>
            <input type="submit" value="Login"/>
        </p>
        <input type="hidden" name="LastAttemptedLogin" value="@DateTime.Now" />

    </form>
</body>
</html>